<ion-header>
  <ion-navbar></ion-navbar>
  <ion-toolbar>
    <ion-segment secondary
                 [(ngModel)]="divisionFilter" (ionChange)="filterDivision()">
      <ion-segment-button value="division">Дивизион</ion-segment-button>
      <ion-segment-button value="all">Все</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list [virtualScroll]="flatStandings"
            [approxItemHeight]="'50px'" [headerFn]="getHeader" >

    <ion-item-divider color="secondary" *virtualHeader="let header">
      {{header}}
    </ion-item-divider>

    <ion-item *virtualItem="let teamStanding" >
      <ion-row>
        <ion-col>
          <h2 ion-text color="primary">{{teamStanding?.teamName}}</h2>
        </ion-col>
      </ion-row>
      <ion-row class="center">
        <ion-col><h4>побед</h4></ion-col>
        <ion-col><h4>пораж</h4></ion-col>
        <ion-col><h4>%</h4></ion-col>
        <ion-col><h4>PF</h4></ion-col>
        <ion-col><h4>PA</h4></ion-col>
        <ion-col><h4>Diff</h4></ion-col>
      </ion-row>
      <ion-row class="center">
        <ion-col><h4>{{teamStanding?.wins}}</h4></ion-col>
        <ion-col><h4>{{teamStanding?.losses}}</h4></ion-col>
        <ion-col><h4>{{teamStanding?.winningPct | number:'1.2-2' }}</h4></ion-col>
        <ion-col><h4>{{teamStanding?.pointsFor}}</h4></ion-col>
        <ion-col><h4>{{teamStanding?.pointsAgainst}}</h4></ion-col>
        <ion-col><h4>{{teamStanding?.pointsDiff}}</h4></ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>
