<!--
  Generated template for the CoordsModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CoordsModal</ion-title>
      <ion-buttons start>
          <button ion-button (click)="dismiss()">
              <span ion-text color="primary" showWhen="ios">Cancel</span>
              <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngIf="err">
        <ion-card-content>
            <pre>{{ err | json }}</pre>
        </ion-card-content>
    </ion-card>
    <pre>{{ data$ | async | json}}</pre>
    <pre>{{ once | json }}</pre>
</ion-content>
