<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{tournament?.name}}</ion-title>
  </ion-navbar>
  <ion-toolbar color="dark">
    <ion-searchbar
            placeholder="Поиск"
            [(ngModel)]="queryText"
            (ionInput)="updateTeams()"></ion-searchbar>
      <!-- TODO реализовать поиск-->
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-list>
        <ion-item-group *ngFor="let division of divisionOfTeams$ | async">
            <ion-item-divider color="secondary">{{division?.divisionName}}</ion-item-divider>
            <button ion-item *ngFor="let team of division?.teams" (click)="itemTapped($event,team)">{{team?.name}}</button>
        </ion-item-group>
    </ion-list>

</ion-content>
