<ion-header>

  <ion-navbar  color="primary">
    <ion-title>Map</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-fab left bottom>
    <button ion-fab (click)="openNavigation()">
        <ion-icon name="navigate"></ion-icon>
    </button>
  </ion-fab>
  <sebm-google-map id="map"
          [latitude]="map?.lat"
          [longitude]="map?.lng"
          [zoom]="map?.zoom"
          [disableDefaultUI]="false"
          [zoomControl]="true"
          (mapClick)="mapClicked($event)">

    <sebm-google-map-marker *ngIf="map" [latitude]="map?.lat" [longitude]="map?.lng">
      <sebm-google-map-info-window [isOpen]="true">
        <strong>{{map?.content}}</strong>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>

</ion-content>
