<ion-header>
    <ion-navbar color="primary">
        <button menuToggle ion-button>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Elite Schedule</ion-title>
    </ion-navbar>
    <ion-toolbar color="secondary">

        <ion-title>
            Мои команды
        </ion-title>

    </ion-toolbar>

</ion-header>


<ion-content>

    <button ion-button full large (click)="vibrate()">Вибрировать</button>
    <button ion-button full large (click)="vibratePattern()">Прикольно вибрировать</button>
    <button ion-button color="secondary" full large (click)="getCoords()">Координаты</button>
    <button ion-button color="dark" full large (click)="getPicture()">Камера</button>
    <ion-card *ngIf="imageSrc">
        <img [src]="imageSrc">
    </ion-card>
    <button ion-button color="light" full large (click)="notification()">Нотификация</button>

    <ion-card *ngIf="!favorites?.length">
        <ion-card-header>Нету команд?</ion-card-header>
        <ion-card-content>
            Всегда можно добавить! Если посмотреть в турнирах
        </ion-card-content>
    </ion-card>


    <ion-card *ngIf="favorites?.length">
        <ion-list>
            <ion-list-header class="my-teams-header">Избранные</ion-list-header>

            <ion-item-divider *ngFor="let item of favorites">
                <ion-row>
                    <ion-col width-20>
                        <button ion-button (click)="unfavoriteTeam(item?.team)">
                            <ion-icon name="star"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col width-70 (click)="favTapped(item)">
                            {{item?.team.name}}
                            <p>{{item?.tournamentName}}</p>
                    </ion-col>
                </ion-row>
            </ion-item-divider>

        </ion-list>
    </ion-card>

    <ion-card>
        <ion-card-content>
            Найти еще интересные команды
            <button ion-button full large fab (click)="goToTournaments()" icon-left>
                <ion-icon name="search"></ion-icon>
                Поиск команд
            </button>
        </ion-card-content>

    </ion-card>


</ion-content>
