<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Elite Schedule</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-list-header>Навигация</ion-list-header>
            <button menuClose ion-item (click)="goHome()">На главную</button>
            <button menuClose ion-item (click)="goToTournaments()">Турниры</button>
        </ion-list>
        <ion-list>
            <ion-list-header>Избранные</ion-list-header>
            <button menuClose ion-item *ngFor="let item of favTeamsSource$ | async" (click)="goToTeamDetails(item)">
                {{item?.team?.name}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
