<!--
  Generated template for the Game page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Игра</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-row>
        <ion-col width-50 text-center class="divider-col">
            <button ion-button clear full (click)="teamTapped(game.team1Id)">Хозяин</button>
        </ion-col>
        <ion-col width-50 text-center>
            <button ion-button clear full (click)="teamTapped(game.team2Id)">Гость</button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col width-50 text-center class="divider-col" (click)="teamTapped(game.team1Id)">
            <h4>{{game?.team1}}</h4>
        </ion-col>
        <ion-col width-50 text-center (click)="teamTapped(game.team2Id)">
            <h4>{{game?.team2}}</h4>
        </ion-col>
    </ion-row>
    <ion-row baseline class="top-bottom-border">
        <ion-col text-center
                 (click)="teamTapped(game.team1Id)"
                 [class.primary-color]="isWinner(game?.team1Score, game?.team2Score)">
            <h1>
                {{game?.team1Score}}
            </h1>
        </ion-col>
        <ion-col text-center><ion-label>Счет</ion-label></ion-col>
        <ion-col text-center
                 (click)="teamTapped(game.team2Id)"
                 [class.primary-color]="isWinner(game?.team2Score, game?.team1Score)">
            <h1>
                {{game?.team2Score}}
            </h1>
        </ion-col>
    </ion-row>
    <ion-card>
        <ion-item>
            <ion-icon name="calendar" item-left></ion-icon>
            {{game?.time | date: 'dd.MM.yy'}} {{game?.time | date: 'shortTime'}}
        </ion-item>
        <ion-row>
            <ion-col width-60>
                <ion-label>{{game?.location}}</ion-label>
            </ion-col>
            <ion-col width-40 text-right>
                <button ion-button outline (click)="goToMap()">
                    <ion-icon name="map"></ion-icon>
                </button>
                <button  ion-button outline (click)="goToDirections()">
                    <ion-icon name="navigate"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
