page-game {

  $border-style: thin solid gray;

  $colors: (
          primary:    #387ef5,
          secondary:  #32db64,
          danger:     #f53d3d,
          light:      #f4f4f4,
          dark:       #222,
          favorite:   #69BB7B
  );

  .top-bottom-border{
    border-top: $border-style;
    border-bottom: $border-style;
  }

  .divider-col{
    border-right: $border-style;
  }

  .primary-color{
    background-color: map-get($colors, primary);
  }

}
