<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="refreshTournamentData($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Потяните чтобы синхронизироваться"
                refreshingSpinner="circles"
                refreshingText="Синхронизация..."></ion-refresher-content>
    </ion-refresher>

  <ion-card>
    <ion-card-content>

      <ion-row>
        <ion-col width-50>
          <p>побед: {{ teamStatistic?.wins }} / пораж: {{teamStatistic?.losses}}</p>
          <p>тренер: {{ team?.coach }}</p>
        </ion-col>
        <ion-col width-50 text-right>
            <button icon-left ion-button outline *ngIf="!isFavorite" (click)="toggleFavorite()">
                <ion-icon name="star"></ion-icon>
                В избранные
            </button>
            <button icon-button ion-button *ngIf="isFavorite" (click)="toggleFavorite()">
                <ion-icon name="star"></ion-icon>
            </button>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-toggle [(ngModel)]="diteFilterEnabled" (ionChange)="dateChanged()"></ion-toggle>
        <ion-label>Фильтровать по дате</ion-label>
        <ion-datetime
          [(disabled)]="!diteFilterEnabled"
          displayFormat="DD.MM.YY"
          pickerFormat="DD.MMMM.YYYY"
          [(ngModel)]="filterValue"
          (ionChange)="dateChanged()">
        </ion-datetime>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card color="light" *ngIf="!(teamGames$ | async)?.length">
    <ion-card-header>В этот день ничего нет</ion-card-header>
  </ion-card>
  <ion-list *ngIf="(teamGames$ | async)?.length">
    <button ion-item *ngFor="let game of teamGames$ | async" (click)="itemTapped($event,game)">
      <ion-row>
        <ion-col width-20>
          <p>{{game?.time | date: 'dd.MM.yy'}}</p>
          <p>{{game?.time | date: 'HH:mm'}}</p>
        </ion-col>
        <ion-col width-55>
          <p>
              <ion-badge color="secondary">{{game?.homeAway}}</ion-badge>
              {{game?.opponent}}
          </p>
          <p></p>
        </ion-col>
        <ion-col width-25>
          <span *ngIf="game?.scoreDisplay">
              <ion-badge [color]="scoreDisplayBadgeColor(game)">
                  {{scoreDisplayBadge(game)}}
              </ion-badge>
              {{scoreDisplay(game)}}
          </span>
          <h3 *ngIf="!game?.scoreDisplay"> n.a. </h3>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
</ion-content>
