<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{team?.name}}</ion-title>
        <ion-buttons end>
            <button large ion-button icon-only (click)="goHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-tabs>
    <ion-tab tabTitle="Команда" [root]="teamDetailsTab" tabIcon="basketball" [rootParams]="team"></ion-tab>
    <ion-tab tabTitle="Позиция" [root]="standingsTab" tabIcon="podium" [rootParams]="team"></ion-tab>
</ion-tabs>
