<!--
  Generated template for the Tournaments page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
      <ion-title>Турниры</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-item *ngFor="let tournament of tournaments$ | async" (click)="itemTapped(tournament)">{{tournament.name}}</button>
</ion-content>
